.blogs-container{
    display:flex;
    gap:32px;
    flex-wrap: wrap;
}

.blog-card{
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    flex:calc(33% - 32px);

    @media  screen and (max-width: $md) {
        flex-basis: 100%;
    }
}

.blog-card-image{
    width: 100%;
    object-fit: cover;
}

.blog-title{
    padding:24px;
    display: flex;
    flex-direction: column;
    gap:24px;
}
.blog-title-heading{
    color:$color-oscuro-dark;
    font-weight: bold;
    font-size: 1.5rem;
}
.blogs-button{
    color: $color-primario;
    cursor:pointer;
}