.carrito-modal-header {
  flex-direction: column-reverse;
  padding: 0;
  align-items: flex-end;
  .close {
    padding: 0;
    margin: 0.5rem 1rem;
    font-size: 2rem;
  }
  .modal-title {
    margin-top: 0;
    margin-bottom: 2rem;
    background-color: $color-primario;
    color: white;

    @media screen and (max-width: $md) {
      font-size: 1.6rem;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.carrito-modal-body {
  .seleccion-moneda {
    display: flex;
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
    align-items: baseline;
    justify-content: center;
    font-weight: bold;
    color: $color-secundario;
  }

  .flex-select {
    width: 150px;
  }
  //   select {
  //     border: 2px solid $color-primario;
  //   }

  .carrito-seccion-totales {
    padding: 2rem;
    .subtotal {
      display: flex;
      justify-content: space-between;
    }

    .cupones {
      display: flex;
      justify-content: space-between;
      input {
        width: 10ch;
        // &:focus {
        //   border-color: #5cb85c;
        //   box-shadow: none;
        //   -webkit-box-shadow: none;
        // }
      }
    }
  }
  .primera-seccion {
    border-style: solid;
    border-width: thin;
    border-color: $color-primario;
    padding: 1rem 1.5rem 1rem 1.5rem;
    position: relative;
  }
  .segunda-seccion {
    padding: 1rem 1.5rem 1rem 1.5rem;
    .subtotal {
      color: $color-primario;
    }
  }
  .tercera-seccion {
    background-color: $color-secundario;
    color: white;

    .textos {
      padding-top: 0.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media screen and (max-width: $md) {
    padding: 1rem;
  }
}

.carrito-listado-de-productos {
  /*border-style: solid;
  border-width: thin;
  border-color: $color-primario;*/
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  & > *:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.carrito-item {
  .descripcion {
    display: flex;
    flex-direction: column;
    & > *:not(:last-child) {
      margin-bottom: 0.25rem;
    }
    justify-content: center;
    .item-title {
      text-decoration: underline;
      font-size: 1.2rem;
    }
    .item-price {
      font-size: 0.9rem;
    }
  }

  .subtotal {
    display: flex;
    flex-direction: column;
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
    align-items: center;
    justify-content: center;
    .botonera {
      display: flex;
      flex-direction: row;
      & > *:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
  }

  @media screen and (max-width: $md) {
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
    img {
      max-width: 50%;
    }
  }
}

.carrito-step-2 {
  .total {
    background-color: $color-secundario;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
  }
  .metodo-pago {
    color: $color-primario;
    font-weight: bold;
  }
  .finalizar-compra {
    text-align: center;
  }
}

.empty-cart {
  margin: 5rem;
}

@media screen and (max-width: $lg) {
  .modal-dialog {
    max-width: 100%;
    margin: 0;
  }
}
