.nav-item {
  padding: 1rem;
}

.navbar-menu {
  background-color: white !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 36px !important;
  padding: 0 10px !important;
  flex-wrap: wrap;
  margin:0px !important;

  @media screen and (min-width: $md-min) {
    padding: 0 30px !important;

  }

  .nav-item {
  padding: 8px !important;
  }
  a.nav-link {
    color: $color-oscuro-light !important;

    &:hover {
      color: $color-secundario !important;
    }
  }
}

.navbar {
  padding-top: 14vw;
  font-family: "Heebo";
  font-weight: 500;
  text-transform: uppercase;
  font-size: x-large;

  a.nav-link {
    padding: 0.2rem 0;
    color: white;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .academy-section {
    background-color: $color-secundario;
    color: white;
    padding: 11px 28px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 16px !important;
    min-width: fit-content;

    @media screen and (min-width: $lg-min) {
      margin-bottom: 0 !important;
    }
  }

  @media screen and (max-width: $md) {
    padding: 0.25rem;
    background-color: white;
    color: $color-oscuro;

    a.nav-link {
      padding: 0.2rem 0;
      color: inherit;
    }

    .navbar-collapse {
      border-top: 1px solid rgba(97, 97, 97, 0.2);
    }
  }

  @media screen and (min-width: $md-min) {
    .navbar-brand {
      // display: none !important;
      background-color: white !important;
    }

    .navbar-academy {
      display: none !important;
    }

  }
}