.parrafo {
  //   margin-left: 8rem;
  border-left: 2px solid white;
  padding-left: 2rem;
  font-weight: 200;
  color: white;
  font-size: 1.4rem;
  @media screen and (max-width: $sm) {
    border-left: none;
    padding: 1rem;
    font-size: 1.25rem;
  }
}
