.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel.slide {
  //   height: 620px;
  //   display: flex;
  //   align-items: center;
}

.testimonial-container {
  flex-wrap: wrap;
  gap: 16px;
}

.testimonio {
  display: flex;
  flex-direction: column;
  flex:1 1 calc(50% - 16px);
  // flex-grow: 1 1 calc(50% - 16px);

  background-color: white;
  gap: 24px;

  border-radius: 16px;
  padding: 32px;

  // align-items: center;
  justify-content: space-between;

  .burbuja{
    flex:1;
  }

  .foto-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .datos {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .avatar {
      border-radius: 50%;
    }
    .nombre {
      font-weight: 600;
      font-size: 20px;
    }

    .puesto {
      font-size: 14px;
      color: $color-oscuro-light;
    }
  }
}